


<%= form_tag("/users", method: "get") do %>
 <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>


<section class="container-fluid bg7">


  <% @users.each do |user| %>
 <%= user.username%> -
    <% if user.avatar.attached? %>
          <%= image_tag(user.avatar, style: "width: 100px; display: block" ) %>
        <% end %><br> <br>

       <% user.photos.each do |photo|%>
       <%= link_to photo.title, photo_path(photo)%> <br> 
       <% if photo.image.attached? %>
          <%= link_to image_tag(photo.image, style: "width: 200px; display: block" ), photo_path(photo)%> <br>
        <% end %> 
        
        <% end %>
    <% end %>

</section>