<section class="container-fluid bg5">

<div class="add-box">


<%= form_for(@photo)do |f| %>
  

<%= f.label :title %>
<%= f.text_field :title %>

<%= f.label :image %>
<%= f.text_field :image %>
<%= f.submit 'Edit Photo' %>
<% end %>

</div>

</section>