

<%= form_tag("/photos", method: "get") do %>
 <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>






<h2>Welcome!  <%= current_user.username %></h2><br>

<%= link_to 'Add a Photo', new_photo_path, class: 'nav-link' %> <br>


<h3> All Photos </h3>


    <% @photos.each do |photo|  %>
    
    <%=  link_to "#{photo.title}", "/photos/#{photo.id}"%> <br>
    
   
<% end  %><br>



