

<section class="container-fluid bg3">



<h2>Welcome! 
    <% if current_user.avatar.attached? %>
          <%= image_tag(current_user.avatar, style: "width: 100px; display: block" ) %>
        <% end %>
        
         <%= current_user.username %></h2><br>

<%= link_to 'Add a Photo', new_photo_path, class: 'nav-link' %> <br>


<h3> All Photos </h3>


    <% @photos.each do |photo|  %>

    <% if photo.image.attached? %>
     <%= link_to image_tag(photo.image, style: "width: 200px; display: block" ), photo_path(photo)%> <br>
    <% end %> 

<% end  %><br>

<h2>all commented photos</h2>
<% @commented_photos.each do |photo| %> <br>
<%= link_to photo.title, photo_path(photo) %>
<% end %>

</section>


