





<section class="container-fluid bg2">

<div class="add-box1">



<h1>Photo</h1> <br>

<h2><%= @photo.title %></h2>
<% if @photo.user_id == current_user.id%>
<%= link_to 'Edit a Photo', edit_photo_path, class: 'nav-link' %><br>


<%= button_to 'Delete Photo', photo_path, class: 'nav-link', method: :delete%> <br>

<%end%>





<h2><%= @photo.comments.count %> Comments</h2> <br>

<%= link_to 'Add a new Comment', new_photo_comment_path(@photo) %> <br><br>

<% @photo.comments.each do |comment| %>
<%= comment.user.username.capitalize %> - <%=comment.content %> <br>

<% end %> <br>   




<%= link_to 'View all the photos I commented ', photo_comments_path(@photo) %> <br> <br>



</div>

</section>